
.unique-form-group {
    position: relative;
    top: 25px;
}

label {
    position: relative;
    font-size: 18px;
    margin-top: 10px;
    padding: 5px;
}

input {
    position: relative;
    padding: 10px 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    left: 10px;
    border-radius: 20px;
    font-size: 15px;
}
.fa-eye {
    opacity: 0;
}