.hamburger-menu .settings, .hamburger-menu a .fa-gear {
    text-decoration: none;
    color: green;
}

.setting {
    position: relative;
    height: 1000px;
    left: 275px;
    top: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.acc p {
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
}
.acc2 {
    position: relative;
    background-color: #1c1d34;
    width: 1000px;
    border: 1px solid antiquewhite;
    padding: 10px;
    border-radius: 20px;
}
.acc2 p a {
    position: relative;
    font-size: 20px;
    left: 50px;
    color: peachpuff;
    font-weight: normal;
    text-decoration: none;
}